@font-face {
  font-family: 'RobotoMono';
  src: url(./fonts/RobotoMono-Thin.ttf);
}

* {
  font-family: 'RobotoMono', monospace;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(80deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8267682072829132) 0%, rgba(5,104,184,1) 100%, rgba(0,212,255,1) 100%);
}